pre,
code {
  font-family: $monospaced-font;
}

code {
  background-color: $grey-4;
  border-radius: 3px;
  color: $purple;
  font-size: 85%;
  padding: .2em .4em;
}

pre {
  margin: 0 0 1rem;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
  font-size: 16px;
}

.highlight {
  background: #343434;
  color: $white;
  font-family: 'D2 coding', "Consolas", monospace;
  padding: 5px;
  border-radius: 5px;

  pre {
   // margin-bottom: 0;
    overflow-x: auto;
    white-space: pre;
  }

  pre code{
	display:block;
	white-space:pre;
	overflow-x:auto;
	word-wrap:normal
  }

  .lineno {
  	color:#ccc; //color: $default-tint;
  	padding: 0 .75rem 0 .25rem;
    display: inline-block; // Ensures the null space also isn't selectable
    // Make sure numbers aren't selectable
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    border-right: 1px solid $purple;
  }
}